## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

What variable(s) are considered the target(s) for your model?
    - The IS_SUCCESSFUL column is binary and will be the target variable or output for our model.

What variable(s) are considered the feature(s) for your model?
    - The remaining columns after we drop EIN and NAME will be the features or input for our model.

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], 1)
application_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
appcounts = application_df['APPLICATION_TYPE'].value_counts()
appcounts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(appcounts[appcounts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classcounts = application_df['CLASSIFICATION'].value_counts()
classcounts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classcounts[classcounts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classcounts[classcounts < 1800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
dummiesDF = pd.get_dummies(application_df)
dummiesDF.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0
3       1     6692  ...                         1                         0
4       1   142590  ...                         1                         0

[5 rows x 44 columns]

In [ ]:
# Split our preprocessed data into our features and target arrays
X = dummiesDF.drop(['IS_SUCCESSFUL'], axis='columns').values
y = dummiesDF['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test, = train_test_split(X, y)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
inputs = len(X_train[0])
L1Nodes = 80
L2Nodes = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=L1Nodes, input_dim=inputs, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=L2Nodes, input_dim=L1Nodes, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, input_dim=L2Nodes, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
fitmodel = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.5744 - accuracy: 0.7194
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5583 - accuracy: 0.7294
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7294
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7317
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7334
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7317
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7313
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7323
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7338
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7324
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7339
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7338
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7351
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7356
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7362
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7345
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7359
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7362
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7357
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7371
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7377
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7368
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7374
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7374
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7382
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7371
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7371
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7377
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7380
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7375
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7368
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7385
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7371
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7379
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7367
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7378
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7381
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7387
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7378
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7382
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7390
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7385
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7393
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7385
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7379
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7389
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7383
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7401
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7392
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7390
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7388
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7391
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7387
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7400
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7399
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7387
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7394
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7395
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7393
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7399
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7389
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7388
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7393
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7390
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7391
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7391
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7399
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7398
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7390
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7391
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7394
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7399
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7407
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7397
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7403
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7393
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7402
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7393
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7399
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7401
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7406
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7407
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7399
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7398
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7402
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7404
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7390
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7401
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7399
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7406
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7403
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7404
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7400
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7400
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7400
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7399
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7402

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5684 - accuracy: 0.7250 - 454ms/epoch - 2ms/step
Loss: 0.5683801770210266, Accuracy: 0.7250145673751831

In [ ]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')